.header-menu__inner .menu-list__link-title {
    margin: 0 22px;
    padding: 0;
    height: 100%;
    align-content: center;
}
.header-menu__inner .menu-list__link--active .menu-list__link-title {
    color: #149253;
    border-bottom: 6px solid;
}
.header__columns .header-actions__action svg {
    height: 30px;
    width: 20px;
}
body .section-image_text .group-block-content {
    max-width: 65%;
    margin: 0 auto;
}
body .section-rich_text {
    max-width: 78%;
    margin: 0 auto;
    border: 2px dashed #044108;
    border-radius: 100px;
}
body .section-rich_text .custom-section-content .overlay {
    max-width: 90%;
    margin: 10px auto;
}
body .section-rich_text .custom-section-content {
    border: none;
    background: #149253;
    margin: 30px 0;
}
.ui-test-product-list .homepage_collection .product-card__content {
    border: 5px solid #149253;
}
.ui-test-product-list .homepage_collection .product-card__content .card-gallery {
    padding: 20px 20px 0 20px;
}
.ui-test-product-list .homepage_collection .product-card__content .add-to-cart-button {
    border-radius: 0 !important;
    background: #149253;
}
.ui-test-product-list .homepage_collection .product-card__content .add-to-cart-button.quick-add__button {
    display: none;
}
.section-text-and-icon {
    border-top: 2px dashed;
    border-bottom: 2px dashed;
}
.section-text-and-icon .icon-block img {
    width: 111px !important;
}
.section-carousel .card__inner {
    position: relative;
}
.section-carousel .card__inner .custom--liquid {
    position: absolute;
    bottom: 0;
    background: #fff;
    border-radius: 40px;
    padding: 15px 45px;
    margin: 10px;
    text-align: center;
}
.section-carousel .card__inner .custom--liquid h3 {
    margin-bottom: 5px;
    font-size: 28px;
}
.section-carousel .card__inner .custom--liquid span.link-button {
    color: #149253;
    text-transform: uppercase;
    border-bottom: 5px solid;
}
.section-image_blocks .section-content-wrapper {
    border: 2px dashed;
    padding-left: 40px;
    padding-right: 40px;
}
.section-image_blocks {
    margin-bottom: 45px;
}
.section-newsletter .email-signup__input::placeholder {
    color: #6D6D6D !important;
}
.section-newsletter .email-signup__input:focus {
    outline: none !important;
    color: #6D6D6D !important;
}
.section-newsletter button.email-signup__button {
    border-radius: 40px;
}


.section-multicolumn-contact .custom-section-content {
    padding-left: 3rem;
    padding-right: 3rem;
}
.section-multicolumn-contact .custom-section-content .group-block {
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    width: calc(16.666% - 10px);
    flex: auto;
    height: 455px;
}

.section-multicolumn-contact .custom-section-content .group-block::before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
    background: linear-gradient(to bottom, #0000, #000c);
    bottom: 0;
    content: "";
    left: 0;
    height: 10rem;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.section-multicolumn-contact .custom-section-content .group-block .image-block {
    padding-bottom: 200%;
}
.section-multicolumn-contact .custom-section-content img.image-block__image {
    height: 100%;
    left: 50%;
    width: auto;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    -o-object-fit: cover;
    object-fit: cover;
}
.hover-area {
    width: 200px;
    padding: 20px;
    background: #eee;
    cursor: pointer;
  }

  .floating-box {
    position: fixed;
    width: 150px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 8px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .floating-box.show {
    opacity: 1;
  }




/* Responsive Styles */

@media only screen and (min-width: 960px) {
    .section-multicolumn-contact .custom-section-content .group-block.tall-panel__card--expanded {
        width: calc(56.547% - 10px) !important;
    }
        .section-multicolumn-contact .custom-section-content .group-block.tall-panel__card--contracted {
        width: calc(8.69% - 10px) !important;
    }
}
@media (max-width: 768px) {
body .section-rich_text {
    max-width: 90%;
}
body .section-rich_text .text-block p {
    font-size: 20px;
}
.section-carousel .card__inner .custom--liquid {
    padding: 15px 20px;
        width: 90%;
}
.section-carousel .card__inner .custom--liquid h3 {
    font-size: 15px;
}
.section-contact_us .text-block.h5 p {
    font-size: 32px;
}
.section-contact_us .text-block p {
    font-size: 20px;
}
footer .group-block p {
    font-size: 14px;
}
.section-carousel slideshow-slides {
    justify-content: center;
}
.section-image_blocks .section-content-wrapper .text-block.custom p {
    font-size: 15px;
}
body .section-image_text .group-block-content {
    max-width: 85%;
}
}

@media (max-width: 480px) {
.slideshow-section .text-block p {
    font-size: 25px;
}
body .section-image_text .group-block-content {
    max-width: 100%;
 }
 body .section-rich_text .custom-section-content {
    margin: 15px 0;
}
body .section-rich_text {
    max-width: 90%;
}
.section-text-and-icon .group-block-content {
    align-items: center;
}
.section-text-and-icon .group-block-content p {
    text-align: center;
}
.section-text-and-icon .group-block-content p br, .section-reviews .text-block p br {
    display: none;
}
body .section-rich_text .text-block p {
    font-size: 14px;
}
.section-reviews .image-block img.image-block__image {
    width: 20%;
}
.section-image_blocks .section-content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}
}
