.header-menu__inner .menu-list__link-title {
    margin: 0 22px;
    padding: 0;
    height: 100%;
    align-content: center;
}
.header-menu__inner .menu-list__link--active .menu-list__link-title {
    color: #149253;
    border-bottom: 6px solid;
}
.header__columns .header-actions__action svg {
    height: 30px;
    width: 20px;
}
body .section-image_text .group-block-content {
    max-width: 65%;
    margin: 0 auto;
}
body .section-rich_text {
    max-width: 70%;
    margin: 0 auto;
    border: 2px dashed #044108;
    border-radius: 100px;
}
body .section-rich_text .custom-section-content .overlay {
    max-width: 90%;
    margin: 10px auto;
}
body .section-rich_text .custom-section-content {
    border: none;
    background: #149253;
    margin: 30px 0;
}